{% extends "base.html" %}

{% block titulo %}
Reserva Ecologica Costanera Sur
{% endblock titulo %}

{% block contenido %}
<div class="entry-container">
    <header class="header" >
        <img src="static\assets\Reserva.png" alt="Reserva" width = "600" height="400">
    </header>
</div>
<br></br>

<h1>Animales de la Reserva Ecologica Costanera Sur</h1>

<div class= "entry-content">
    <br></br>
    <p>Bienvenidos a esta pagina web destinada a conocer mas sobre los animales que habitan la Reserva Ecologica de Costanera Sur ubicada en Puerto Madero, Buenos Aires. Se hace mas enfasis en las aves pero tambien hay informacion sobre el resto de animales y plantas que se pueden encontrar alli.</p>
</div>
{% endblock contenido %}